html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.theme-dark {
  background-color: #232323;
  color: rgb(247, 247, 247);
  min-height: 1400px;
  height: 100%;
}

.theme-light {
  background-color: #f6f6f6;
  color: #232323;
  height: 100%;
  min-height: 1400px;
}

.toggle-mode-light {
  color: rgb(255, 217, 93);
  padding: 20px;
  font-size: 2rem;
  position: absolute;
  top: 2%;
  left: 10%;
}

.toggle-mode-dark {
  color: rgb(96, 32, 143);
  padding: 20px;
  font-size: 2rem;
  position: absolute;
  top: 2%;
  left: 10%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: none;
}

article {
  margin: auto;
  width: 100%;
}

.store-item {
  padding-bottom: 10%;

  border-bottom: 1px solid rgb(172, 172, 172);;

  margin: auto;
  width: 100%;
  padding-top: 2%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info {
  max-width: 85%;
  
}

.link-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  font-weight: 400;
}

.gumroad-button{
  border: #393838 2px solid;
  border-radius: 5px;
  margin-top: 10%;
  background-color: #ff90e8;
  padding: 10px 20px;
  max-width: 100%;
  text-align: center;
  color: #000;
  display: block;
}

@media only screen and (min-width: 600px) {
  img {
    width: 100%;

    display: block;
    margin: auto;
  }

  .link-container {
    width: 40%;
  }

  .gumroad-button{
  
    max-width: 50%;
  
  }
}
